<!DOCTYPE html>
<html>
<head>
  <title>Shipment Viewer <%= @title && " – #{@title}" %></title>
  <link rel="stylesheet" href="/hc.css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/384fa9fca2.js" crossorigin="anonymous"></script>
  <%= yield_content :head %>
  <script>
      // The poor man's jQuery
      window.$ = (query, el=document)=>{
          return el.querySelector(query);
      };
      window.$all = (query, el=document)=>{
          return [...el.querySelectorAll(query)];
      };
  </script>
</head>
<body>
  <nav class="navbar fixed-top bg-light">
    <a class="banner" target="_blank" href="https://hackclub.com/">
      <img src="/flag.png" />
    </a>
    <a href='<%= @internal ? '/internal' : '/' %>' class="navbar-brand"><b>Shipment Viewer<%= @internal && " <span class='internal'>(cool edition)</span>" %></b></a>
  </nav>
  <div style="margin-top: 64px">
    <% if @error %>
      <div class="container">
        <div class="card" style="background: var(--orange); margin-bottom: var(--spacing-2); color: var(--white)">
          <b>error:</b> <%= @error %>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <div class="footer">
    <div class="footer-text">
      <% if @internal %>
      <p><%= ["don't do anything i wouldn't do", "agent 47! welcome!", "i ship it :3"].sample %></p>
      <% end %>
      <p>with <3 from <a target="_blank" href="https://hackclub.com/">Hack Club</a>! open-source'd @  <a target="_blank" href="https://github.com/hackclub/shipment-viewer">hackclub/shipment-viewer</a> <i class="fa-brands fa-github"></i>.</p>
    </div>
  </div>
  
</body>
</html>